<header class="text-center mb-4">
	<img src="https://www.unidformazione.com/wp-content/uploads/2017/05/logo-uniba.JPG-2.png"
		alt="Logo Università degli Studi di Bari" style="width: 240px;" class="img-responsive mb-3" />
	<h1 class="thesis-title border-bottom p-2 mb-3">Rilevazione automatica di usability smell mediante analisi dei log
		di interazione ​</h1>
	<p class="h5 mb-4">Laurea Triennale in &ldquo;Informatica e Comunicazione Digitale&rdquo;</p>
	<div class="authors row px-0 mx-0 px-md-5 mx-md-5" itemprop="author">
		<div class="col author" itemscope="" itemtype="https://schema.org/Person">
			<div>
				<span itemprop="givenName">Andrea</span> <span itemprop="familyName">Esposito</span>
				(<span itemprop="identifier">677021</span>)
			</div>
			<small>Autore</small>
			<div><a href="mailto:a.esposito39@studenti.uniba.it" itemprop="email">a.esposito39@studenti.uniba.it</a>
			</div>
		</div>
		<div class="col author" itemscope="" itemtype="https://schema.org/Person">
			<div>
				<span itemprop="honorificPrefix">Prof.</span>
				<span itemprop="givenName">Giuseppe</span> <span itemprop="familyName">Desolda</span>
			</div>
			<small>Relatore</small>
			<div><a href="mailto:giuseppe.desolda@uniba.it" itemprop="email">giuseppe.desolda@uniba.it</a></div>
		</div>
	</div>
	<hr>
</header>

<p>
	Benvenuto. Ti ringraziamo per aver deciso di prendere parte alla nostra
	ricerca.
</p>
<p>
	Di seguito, vi sono i link per scaricare l'estensione per il browser. Per
	avviare l'installazione, basta semplicemente cliccare il bottone
	corrispondente al proprio browser di preferenza e cliccare il tasto
	&ldquo;Aggiungi&rdquo;.
</p>
<p>
	Prima di iniziare, ci sono alcuni dettagli importanti da conoscere
	sull'estensione e sulla nostra ricerca:
	<ul>
		<li>Tutti i dati sono raccolto in modo completamente anonimo.</li>
		<li>
			Le immagini catturate mediante la webcam sono analizzate
			istantaneamente e poi eliminate definitivamente.
		</li>
		<li>
			Il codice sorgente è disponibile su <a href="https://github.com/espositoandrea/Bachelor-Thesis"
				target="_blank" rel="noopener noreferrer">
				<span class="fab fa-github" aria-hidden="true"></span> GitHub</a>.
		</li>
		<li>
			Tutti i dati raccolti sono disponibili al seguente indirizzo:
			<a href="http://giuseppe-desolda.ddns.net:10001/" target="_blank" rel="noopener
            noreferrer">giuseppe-desolda.ddns.net:10001</a>.
		</li>
		<li>
			La webcam può essere utilizzata da una sola applicazione alla volta:
			per utilizzare una qualsiasi altra applicazione che faccia uso della
			webcam <em>(mentre è attivo il browser)</em> è necessario
			disabilitare l'estensione. Per farlo, basta fare click sull'icona
			dell'estensione stessa in alto a destra, vicino la barra degli
			indirizzi, per poi utilizzare l'interruttore per disattivarla.
			L'estensione può poi essere riattivata utilizzando lo stesso
			interruttore ma sarà, comunque, automaticamente attivata la prossima
			volta che si riapre il browser.
		</li>
		<li>
			Nella versione per Chrome, è necessario ricaricare le pagine aperte
			prima dell'installazione dell'estensione per rendere funzionale la
			webcam.
		</li>
	</ul>
</p>

<h2>Downloads</h2>

<div class="d-flex flex-row justify-content-space-evenly">
	<a href="https://chrome.google.com/webstore/detail/andrea-espositos-bachelor/mijkanpnjpecdimfbjpmjgaoacilmlji">
		<img src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_340x96.png"
			alt="Chrome extension">
	</a>
	<a href="https://addons.mozilla.org/en-US/firefox/addon/esposito-thesis/">
		<img src="https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/addons/files/2015/11/get-the-addon.png"
			alt="Firefox extension">
	</a>
</div>
